<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>env</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Environments</string>
			<key>DefaultValue</key>
			<string>TEST</string>
			<key>Titles</key>
			<array>
				<string>PROD</string>
				<string>TEST</string>
				<string>HS</string>
			</array>
			<key>Values</key>
			<array>
				<string>PROD</string>
				<string>TEST</string>
				<string>HS</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>terminalMode</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Terminal Mode</string>
			<key>DefaultValue</key>
			<string>CM</string>
			<key>Titles</key>
			<array>
				<string>MSR</string>
				<string>Chip/MSR</string>
			</array>
			<key>Values</key>
			<array>
				<string>M</string>
				<string>CM</string>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>connectionMode</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Connection Mode</string>
			<key>DefaultValue</key>
			<string>AD</string>
			<key>Titles</key>
			<array>
				<string>Bluetooth</string>
				<string>Audio</string>
			</array>
			<key>Values</key>
			<array>
				<string>BT</string>
				<string>AD</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>UI Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Banner Color</string>
			<key>Key</key>
			<string>banner_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Banner Image</string>
			<key>Key</key>
			<string>banner_image_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Image1</string>
				<string>Image2</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>logo</string>
				<string>logo</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Color</string>
			<key>Key</key>
			<string>background_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font Color</string>
			<key>Key</key>
			<string>font_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Button Background Color</string>
			<key>Key</key>
			<string>button_background_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Button Font Color</string>
			<key>Key</key>
			<string>button_font_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Image</string>
			<key>Key</key>
			<string>background_image_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Image1</string>
				<string>Image2</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>image1_bg</string>
				<string>image2_bg</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Tip Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tip Amount</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>tipAmount</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tip Option1</string>
			<key>Key</key>
			<string>tipOption1</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tip Option2</string>
			<key>DefaultValue</key>
			<string>10</string>
			<key>Key</key>
			<string>tipOption2</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tip Option3</string>
			<key>DefaultValue</key>
			<string>15</string>
			<key>Key</key>
			<string>tipOption3</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Store Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>EmployeeID</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>employeeId</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Table Number</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>tableNumber</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Merchant Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Show Receipt</string>
			<key>Key</key>
			<string>receipt</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Titles</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
			<key>Values</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Skip Signature</string>
			<key>Key</key>
			<string>signature</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Titles</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
			<key>Values</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Paper Receipt</string>
			<key>Key</key>
			<string>paperReceipt</string>
			<key>DefaultValue</key>
			<string>NO</string>
			<key>Titles</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
			<key>Values</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Play Eject Sound</string>
			<key>Key</key>
			<string>sound</string>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Titles</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
			<key>Values</key>
			<array>
				<string>YES</string>
				<string>NO</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Simulate UnitTest</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Auto Eject</string>
			<key>Key</key>
			<string>auto_eject</string>
			<key>DefaultValue</key>
			<string>No</string>
			<key>Titles</key>
			<array>
				<string>Yes</string>
				<string>No</string>
			</array>
			<key>Values</key>
			<array>
				<string>Yes</string>
				<string>No</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
