<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>UI Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Banner Color</string>
			<key>Key</key>
			<string>banner_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Banner Image</string>
			<key>Key</key>
			<string>banner_image_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Image1</string>
				<string>Image2</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>logo</string>
				<string>logo</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Color</string>
			<key>Key</key>
			<string>background_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Font Color</string>
			<key>Key</key>
			<string>font_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Button Background Color</string>
			<key>Key</key>
			<string>button_background_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Button Font Color</string>
			<key>Key</key>
			<string>button_font_color_preference</string>
			<key>DefaultValue</key>
			<string>none</string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Blue</string>
				<string>Green</string>
				<string>Clear</string>
				<string>Black</string>
				<string>Gray</string>
				<string>White</string>
				<string>Default</string>
			</array>
			<key>Values</key>
			<array>
				<string>redColor</string>
				<string>blueColor</string>
				<string>greenColor</string>
				<string>clearColor</string>
				<string>blackColor</string>
				<string>grayColor</string>
				<string>whiteColor</string>
				<string>none</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
